[user]
	name = Marty Neal
	email = martin.neal@interprose.com

[core]
	editor = C:/cygwin/bin/emacsclientWindowsPath
	excludefile = c:/Users/marty/.gitignore
	filemode = false
    pager = less -FXR
	excludesfiles = /home/marty/.gitignore
	excludesfile = /home/marty/Src/.gitignore
	eol = crlf

[alias]
	lg = !git lg1 -n10
	lg1 = log -n20 --graph --format=format:\"%C(bold blue)%h%C(reset) %C(bold yellow)%d%C(reset) %C(bold white)%an%C(reset) %C(bold green)%ar%C(reset) %C(white)%s%C(reset)\"
	lg2 = log -n20 --format=%format:\"%C(bold blue)%h%C(reset) %C(bold cyan)%aD%C(reset) %C(bold green)%ar%C(reset)%C(bold yellow)%d%C(reset)%n%C(bold white)%an - %s%C(reset)\" --name-only
	lg3 = log -n20 --format=format:\"%C(bold blue)%h%C(reset) %C(bold cyan)%aD%C(reset) %C(bold green)%ar%C(reset) %C(bold white)%an%C(reset)%n%C(bold yellow)%s%C(reset)\" --patch --color --color-words --ignore-space-at-eol --no-prefix
    a = add
	au = add -u
	ap = add -p
	ai = add -i
	b = branch
	br = "!f() { git for-each-ref --sort=-committerdate '--format=%(committerdate:short) %(refname:short) %(HEAD)' $([[ $1 ]] && echo "refs/remotes/$1" || echo refs/heads); }; f"
	c = commit -m
	ca = commit --amend -C HEAD
	co = checkout
	conflicts = diff --name-only --diff-filter=U
	cp = cherry-pick
    ff = merge --ff-only
	s = status -sb
	d = diff --color
	dc = diff --color --cached
	st = stash
	stp = stash pop
	pr = pull-request
	r = reset
	rh = reset --hard
	ru = remote update
    pum = pull upstream master
	pom = push origin master

[push]
	default = tracking

[color]
	status = auto

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[color "show"]
	old = red
	new = green

[color "diff"]
  old = red
  new = green
  
[remote "origin"]
	fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
    
[merge]
	conflictstyle = merge
	tool = emerge
    
[diff]
    tool = ediff
    
[difftool "ediff"]
; No clue how to make this work Giving up :-(
;    cmd = emacsclient --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"
;    cmd = echo `grep -o [a-zA-Z0-9_/] <<< "$LOCAL"`
;    cmd = echo `grep -o [a-zA-Z0-9_/\\.]* <<< "$LOCAL"`
;    cmd = echo `hexdump.exe -C <<< "$LOCAL"`
;    cmd = emacsclient --eval \"(ediff-files \\\"`cygpath -u "$LOCAL"`\\\" \\\"$REMOTE\\\")\"
;    cmd = emacsclient --eval \"(ediff-files \\\"`grep -o [a-zA-Z0-9_/\\.]* <<< "$LOCAL"`\\\" \\\"$REMOTE\\\")\"
;    cmd = emacsclientw --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"
;    cmd = emacsclientw.exe --eval \"(ediff-files \\\"`cygpath -u "$LOCAL"`\\\" \\\"$REMOTE\\\")\"
